language: perl

os:
  - linux
#  - osx

perl:
    - "5.22.1"
    - "5.20"
    - "5.18"
    - "5.16"
    - "5.14"
    - "5.12"
    - "5.10"

matrix:
  fast_finish: true
  include:
    - perl: 5.20
      env: COVERAGE=1   # enables coverage+coveralls reporting
sudo: false             # faster builds as long as you don't need sudo access

before_install:
     - eval $(curl https://travis-perl.github.io/init) --auto
