$telrc = {
          'profile' => {
                       'default' => { 'password' => 'DINGLEHOPPER!', 'user' => $ENV{USER},
                                      'sshoptions' => [ 'UserKnownHostsFile=/dev/null', 'StrictHostKeyChecking=no' ],
                                      'syntax' => 'Cisco',
                       },
                       'casa' => { 'handlers' =>  { '\cZ' => \&handle_ctrl_z } },
                       'zhone' => { 'user' => 'admin', 'method' => 'telnet', 'prompt' => '>', 'enablecmd' => 'priv' },
                       'dlink' => { 'method' => 'telnet', 'handlers' => { '\177' => \&handle_backspace }, 'syntax' => 'Dlink' },
                       'mikrotik' => { 'logoutcmd' => '/quit' },
                       'at' => { 'ciphertype' => 'des', 'user' => 'engr' },
                       'hatteras' => { 'ciphertype' => 'des' }
                     },
          'rtr' => [   # this is an array so order matters
                   { 'regex' => '^cerf$', 'method' => 'telnet', 'hostname' => 'route-server.cerf.net', 'prompt' => 'route-server>' },
                   { 'regex' => '^att$', 'user' => 'rviews', 'method' => 'telnet', 'hostname' => 'route-server.ip.att.net', 'prompt' => 'route-server>' },
                   { 'regex' => '^ix$', 'user' => 'rviews', 'method' => 'telnet',
                                  'hostname' => 'route-views.oregon-ix.net', 'prompt' => 'route-views>', 'noenable' => 1 },
                   { 'regex' => '^quagga$', 'method' => 'telnet', 'hostname' => '127.0.0.1', port => 2605 },
                   { 'regex' => '^ubi', 'user' => 'ubnt', 'method' => 'ssh' },
                   # to clarify what we're doing here, if the name matches
                   # these regex we load the listed profile.
                   { 'profile' => 'casa', 'regex' => '^casa1-' },
                   { 'profile' => 'zhone', 'regex' => '^dsl' },
                   { 'profile' => 'hatteras', 'regex' => '^hat' },
                   { 'profile' => 'mikrotik', 'regex' => '^gw1-mkt-site' },
                   { 'profile' => 'at', 'regex' => '^(ds|sw).*(site-name).*' },
                 ],

        # if we see these strings in the banner while we're connecting to the
        # device then we load the corresponding profile
        'banners' => {
                'Bay Networks BayStack' => 'baystack',
                'DES-3(5|3)(50|26) (Ethernet|Fast Ethernet)' => 'dlink',
                'Casa Systems' => 'casa',
        },
};

