$telrc = {
          'profile' => {
                       'default' => { 'password' => 'testvty', 'user' => 'tester',
                                      'sshoptions' => [ 'UserKnownHostsFile=/dev/null', 'StrictHostKeyChecking=no' ],
                                      'pagercmd' => 'term len 0', },
                       'fake' => { 'password' => 'testfakerouter', 'user' => 'faker' },
                     },
          'banners' => {
                'Fake A Router' => 'fake',
          },
};



