Source: expect-tel
Section: perl
Priority: optional
Maintainer: Robert Drake <rdrake@cpan.org>
Build-Depends: debhelper (>= 9.20120312)
Build-Depends-Indep: libexpect-perl,
 libhash-merge-simple-perl,
 perl
Standards-Version: 3.9.5
Homepage: https://github.com/rfdrake/tel

Package: expect-tel
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libexpect-perl,
 libhash-merge-simple-perl
Suggests:
 libfile-keepass-perl
Description: manage telnet or ssh for routers/switches and other devices
 This handles the login and some other management features for many different
 types of switches and routers.  It tries to handle idiosyncrasies from the
 different vendors vty implementation (different backspace, local echo, etc)
 in a user extendable way.  Please see the README and website for more
 details.
